<!DOCTYPE html>
<html>
  <head>
    <title>safenet</title>
    <link rel="shortcut icon" href="/images/SafeNet Logo no bg.png" type="image/x-icon">
    
  </head>
  <body>
    {{{body}}}
  </body>
</html>
